code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-primary: #008080;
  --white: #ffffff;
}

/* GLOBAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
